*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1D262D;
    color: #E12179;
}

.wrapper{
    margin: 0 auto;
    width: clamp(50%, 50%, 50%);
    margin-top: 10%;
}

.accordeon__item::after, 
h1::after{
    content: " ";
    display: block;
    border: 0.01em solid white;
    margin: 0.5em 0 0.5em 0;
}

img{
    width: 60%;
    height: auto;
}

.accordeon__wrapper{
    font-size: 1.4em;
}

.item__mem{
    margin: 0.5em 0 0.5em 0;
    display: none;
}

label{
    display: block;
    cursor: pointer;
    transition: 0.5s;
}

.item__input{
    appearance: none;
    position: absolute;
}

label:hover{
    color: #fff;
}

.item__input:checked ~ .item__mem{
    display: block;
}

.item__input:checked ~ label{
    color: #fff;
}