*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1D262D;
    color: #E12179;
}

.wrapper{
    margin: 0 auto;
    width: clamp(50%, 50%, 50%);
    margin-top: 5%;
}

.accordeon__item {
    border-bottom: 0.01em solid white;
}

h1 {
    border-bottom: 0.01em solid white;
    padding-bottom: 0.5em;
  }

img{
    width: 60%;
    height: auto;
    margin: 0.5em 0 0.5em 0;
}

.accordeon__wrapper{
    font-size: 1.4em;
}

.item__mem{
    height: 0;
    transform: scale(0);
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.accordeon__item__title{
    position: relative;
    display: block;
    cursor: pointer;
    transition: color 0.5s ease;
    background: url(/cssBayan/cssBayan/assets/icons/chevron-down.svg) no-repeat;
    background-position: right center;
    padding: 0.5em;
}

.item__input{
    appearance: none;
    position: absolute;
}

.accordeon__item__title:hover{
    color: #fff;
}

.item__input:checked ~ .accordeon__item__title{
    color: #fff;
    background: url(/cssBayan/cssBayan/assets/icons/chevron-up.svg) no-repeat;
    background-position: top right;
    background-position-y: 0.7em;
}

.item__input:checked + .accordeon__item__title .item__mem {
    height: 100%;
    transform: scale(1); /* значение масштабирования при выборе чекбокса */
  }